<%= form_with model: @list, local: true, class: "mx-auto p-6 bg-white rounded-lg shadow-md" do |form| %>
  <%= render "shared/errors", form: form %>

  <div class="mb-6">
    <%= form.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <%= form.submit "Save", class: "px-5 py-3 bg-blue-500 text-white rounded-lg shadow-lg no-underline hover:bg-blue-700 transition duration-150 ease-in-out" %>
<% end %>
